<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.yorubaproverbs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ProverbsApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <activity
            android:name=".presentation.splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- This was set so as to make the toolbar usable! -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.dashboard.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.searchdetails.ProverbDetails"
            android:exported="false"
            android:parentActivityName=".presentation.dashboard.MainActivity" />
        <activity
            android:name=".presentation.categorizedlist.CategorizedListActivity"
            android:exported="false"
            android:parentActivityName=".presentation.dashboard.MainActivity"
             />
        <activity
            android:name=".presentation.email.EmailActivity"
            android:exported="false"
            android:parentActivityName=".presentation.dashboard.MainActivity" />
    </application>

</manifest>